body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

.content {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 0.5rem;
    background-color: #fff;
    margin: 0.5rem 0;
    border-radius: 5px;
}

footer {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.9rem;
    color: #555;
}

.info-btn {
    cursor: pointer;
    margin-left: 5px;
    position: relative;
}

.info-btn i {
    font-size: 15px; /* Größeres Symbol */
    color: #9f9f9f; /* Die Farbe des Symbols */
}

.info-btn:hover i {
    color: #7f7f7f; /* Farbe des Symbols bei Hover */
}

.tooltip {
    visibility: hidden;
    padding: 20px;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.info-btn:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
