/* Allgemeine Stile */
body, html {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 0;
    height: 100%;
    margin: 0;
}
  
.wrapper {
    display: flex;      /* Flexbox aktivieren */
    flex-direction: column;  /* Elemente werden vertikal gestapelt */
    min-height: 100vh;   /* Die Höhe der Wrapper ist mindestens so hoch wie der Viewport */
  }
  
/* Stil für das Hintergrundvideo */
.video-background {
    position: fixed;   /* Fixiert das Video im Hintergrund */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;      /* Deckt den gesamten Viewport ab */
    z-index: -1;        /* Setzt das Video hinter den Inhalt */
  }
  
  video {
    width: 100%;        /* Video in der Breite skalieren */
    height: 100%;       /* Video in der Höhe skalieren */
    object-fit: cover;  /* Skaliert das Video, ohne das Seitenverhältnis zu verzerren */
  }

/* Header */
header {
    
    color: white;
    padding: 20px;
}

/* Hauptinhalt */
main {
    margin: 50px auto;
    max-width: 600px;
    background: rgba(9, 0, 105, 0);
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center; /* Zentriert die Buttons horizontal */
    justify-content: center; /* Optional: Zentriert die Buttons vertikal */
    height: 20px; /* Falls du sie auch vertikal zentrieren möchtest */ 
    
    
}

/* Button */
.button1 {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff0000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    display: block;
    margin-bottom: 15px;
}

.button1:hover {
    background-color: #c00000;
}

.button2 {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #119100;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    display: block;
    margin-bottom: 15px;
    
}

.button2:hover {
    background-color: #15b800;
}

.button3 {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #edd100;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    display: block;
    margin-bottom: 15px;
    
}

.button3:hover {
    background-color: #fbff00;
}

/* Footer */
footer {
    
    
    color: white;
    padding: 10px;
}
