#clock {
    font-size: 2em;
    font-family: 'Arial', sans-serif;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

/* Language Switcher */
#languageSwitcher {
    background-color: #fff; /* Weißer Hintergrund */
    color: #000000;            /* Textfarbe */
    font-size: 16px;        /* Schriftgröße */
    border: 2px solid white; /* Rand in Spotify Grün (Beispiel) */
    border-radius: 5px;     /* Abgerundete Ecken */
    padding: 4px;          /* Innenabstand */
    cursor: pointer;       /* Zeigerzeiger bei Hover */
    width: 50px;           /* Breite des Dropdowns */
    transition: all 0.5s ease; /* Weicher Übergang für die Stile */;
    margin: -10px;
}

/* Stile für das Dropdown, wenn der Benutzer mit der Maus darüber fährt */
#languageSwitcher:hover {
    border-color: #000000;  /* Hervorhebung beim Hover */
}

/* Stile für die Optionen im Dropdown */
#languageSwitcher option {
    background-color: #fff; /* Hintergrundfarbe für Optionen */
    color: #333;            /* Textfarbe */
    padding: 10px;          /* Innenabstand der Optionen */
}

/* Stile für den ausgewählten Wert */
#languageSwitcher:focus {
    outline: none; /* Entfernt die Fokusumrandung */
    border-color: #1DB954; /* Randfarbe ändern, wenn ausgewählt */
}


/* Hauptinhalt */
main {
    margin: 10px auto;
   /* max-width: 600px; */
    background: rgb(255, 255, 255, 0.25);
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center; /* Zentriert die Buttons horizontal */
    justify-content: center; /* Optional: Zentriert die Buttons vertikal */
    height: 20px; /* Falls du sie auch vertikal zentrieren möchtest */ 
    transition: all 0.5s ease;
}

/* Buttons */
.button1 {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #e00000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    display: block;
    margin-bottom: 15px;
    position: absolute;
    top: 320px; /* Position relativ zum nächsten positionierten Vorfahren */
    left: 50%; /* Zentriert den Button horizontal */
    transform: translateX(-50%); /* Korrigiert die Zentrierung */
} .button1:hover {
    background-color: #ff0000;
} .button1placeholder {
    height: 40px; /* Höhe des Buttons */
    margin-bottom: 15px; /* Gleicher Abstand wie der Button */
}

.button2 {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #119100;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    display: block;
    margin-bottom: 15px;
} .button2:hover {
    background-color: #14af00;
}
#customAlert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    color: #000000;
    padding: 20px;
    border: 2px solid black;
    z-index: 100;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 300px;
    border-radius: 10px;
    transition: all 0.5s ease;
} #customAlert button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    border-radius: 5px;
} #customAlert button:hover {
    transform: scale(1.1);
}

.button3 {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffe100;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    display: block;
    margin-bottom: 15px;   
} .button3:hover {
    background-color: #ffe900;
    transform: scale(1.1);
}

.button4 {
    padding: 7px 15px;
    font-size: 15px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: 2px solid white;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20px;
    display: block;
    margin-bottom: 15px;   
} .button4:hover {
    background-color: #ffffff;
    color:rgba(0, 0, 0);
    border: 2px solid black;
}

/* Der Wrapper für den Schalter */
.vbgSwitch {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-flex;
    align-items: center;
    width: 60px;
    height: 34px;
  }
  /* Der eigentliche Schalter (Hintergrund) */
  .vbgSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  /* Das Design des Schalter-Sliders */
  .vbgSwitch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
  }
  /* Der Kreis (der Schieberegler) */
  .vbgSwitch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
  }
  /* Wenn der Schalter aktiviert ist */
  .vbgSwitch input:checked + .slider {
    background-color: #21adf3;
  }
  /* Wenn der Kreis auf der rechten Seite ist (aktiviert) */
  .vbgSwitch input:checked + .slider:before {
    transform: translateX(26px);
  }
  .switchText {
    margin-left: -90px;  /* Abstand zwischen Schalter und Text */
    font-size: 13px;    /* Schriftgröße des Textes */
    color: #fff;        /* Farbe des Textes */
    display: inline-block;
    line-height: 17px;  /* Vertikale Ausrichtung des Textes */
}

.spotify {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
} .spotify iframe {
    max-width: 100%;
    width: 75%;
}