/* Open Netflix Button */
#openNetflix {
    padding: 18px;
    width: 200px; /* Breite des Buttons */
    height: 75px; /* Höhe des Buttons */
    background-image: url('images/netflix-wordmark.svg'); /* Bild als Hintergrund */
    border: none; /* Kein Rahmen */
    border-radius: 5px;
    cursor: pointer; /* Mauszeiger auf Klickbar ändern */
    text-indent: -99px;
    overflow: hidden; /* Verhindert, dass Text sichtbar bleibt */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    transition: all 0.1s ease;
    
} #openNetflix img {
    height: 100%;
    width: 100%;
}
#openNetflix:hover {
    transform: scale(1.05);
}
#openNetflix.clicked {
    animation: popButton 1s ease-in-out forwards;
}
/* Animation für den Button */
@keyframes popButton {
    10% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(10);
    }
}
#openNetflix:hover {
    outline: none;
}

/* Netflix Startup video */
.netflixStartUp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out;
    z-index: 10;
}
/* Video Styling */
#netflixIntro {
    width: 100%;
    height: 100%;
    object-fit: cover;
}