body.dark-mode {
    background-color: #333;
    color: #fff;
  }

.dark-mode .main1, .dark-mode .main2 {
    background: rgb(0, 0, 0, 0.25);
}

.dark-mode .video-background video {
    filter: brightness(50%);
} 

.dark-mode #languageSwitcher {
    background-color: #000000;
    color: #ffffff;
    border: 2px solid rgb(0, 0, 0);
} .dark-mode #languageSwitcher:hover {
    border-color: #ffffff;  /* Hervorhebung beim Hover */
} .dark-mode #languageSwitcher option {
    background-color: #000000; /* Hintergrundfarbe für Optionen */
    color: #ffffff;            /* Textfarbe */
    padding: 10px;          /* Innenabstand der Optionen */
} .dark-mode #languageSwitcher:focus {
    outline: none; /* Entfernt die Fokusumrandung */
    border-color: #1DB954; /* Randfarbe ändern, wenn ausgewählt */
}

/* Buttons */
.dark-mode #customAlert {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid rgb(255, 255, 255);
} .dark-mode #customAlert button {
    background-color: #ffffff;
    color: #000000;
}

.dark-mode footer p a {
    color: rgb(80, 169, 169);
}