#würfel {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #e00000;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        display: block;
        pointer-events: auto;
    } .button1:hover {
        background-color: #ff0000;
    } .button1placeholder {
        height: 39px; /* Höhe des Buttons */
        display: none;
    }
